* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #100, #225);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar{
    width: 300px;
    height: 250px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}
.left, .right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 27px;
}
.right{
    background-color: #f31;
    color: whitesmoke;
}