* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
h2{
    margin: 40px auto 10px;
    color: whitesmoke;
    font-size: 55px;
    text-align: center;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #100, #225);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calendar{
    width: 350px;
    height: 200px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}
.left, .right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 27px;
}
.right{
    background-color: #f31;
    color: whitesmoke;
}
#date{
    font-size: 75px;
}
#year{
    padding-top: 10px;
    margin-bottom: -10px;
    font-size: 55px;
}
/* clock */
#clock{
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

/* Countdown Timer */
.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}
.countdown-container > div {
    height: 100px;
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
.countdown-container > div > span:first-child{
    font-size: xx-large;
}